* {
    box-sizing: border-box;
}

body {
    background-image: url("img/whiteflowers.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right;
    padding: 3px;
}

h1 {
    width: 50%;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 4px sandybrown;
}

form {
    background-color: sandybrown;
    opacity: 0.65;
    width: 50%;
    margin: 30px auto auto;
    padding: 30px;
    border-radius: 15px;
}

.action {
    text-align: center;

}

.sign-in, .sign-up {
    color: black;
    text-decoration: none;
    padding: 1%;
}

.sign-in:hover, .sign-up:hover {
    color: #e1e;
}

.active {
    color: white;
    border-bottom: 2px solid darkgreen;

}